{{#modal-dialog title='Report Info' ok='save' close='removeModal'}}

    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" role="form">
                <div class="row form-group">
                    <label class="control-label col-sm-3" for="reporter">Reporter:</label>
                    <div class="col-sm-9">
                        {{input type="text" class="form-control" id="email" placeholder="Enter Reporter" value=reporter}}
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-3" for="tag">Tag:</label>
                    <div class="col-sm-9">
                        {{input type="text" class="form-control" id="tag" placeholder="Enter Tag" value=tag}}
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-sm-3" for="description">Description:</label>
                    <div class="col-sm-9">
                        {{textarea class='form-control' rows='5' placeholder='Add Description Here' value=description}}
                    </div>
                </div>
            </form>

            {{google-map markers=markers autoFitBounds=true}}

        </div>

        <div class="col-md-4">
            {{#each imageUrl in images}}
                <div class="stack">
                    <img class="img-thumbnail" {{ bind-attr src=imageUrl }}>
                </div>
            {{/each}}

        </div>
    </div>

{{/modal-dialog}}
