<h1 class="page-header">Reports</h1>

<div class="table-responsive">

<table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th {{action "sortBy" "tag"}}>Type</th>
      <th>Description</th>
      <th {{action "sortBy" "user.name"}}>Reporter</th>
      <th class="text-center">View</th>
      <th class="text-center">Delete</th>
    </tr>
  </thead>

        <tbody>
            {{#each report in arrangedContent}}
                <tr>
                  <td>{{report.dateReported}}</td>
                  <td>{{report.tag}}</td>
                  <td>{{report.description}}</td>
                  <td>{{report.user.name}}</td>
                  <td class="text-center"><i class="glyphicon glyphicon-new-window glyph-link" {{action 'showModal' 'modals/edit-report-modal' report}}></i></td>
                  <td class="text-center"><i class="glyphicon glyphicon-trash glyph-link" {{action 'showModal' 'modals/delete-modal' report}}></i></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>
