<table class="table table-striped">

    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Description</th>
      <th>Images</th>
      <th>Location</th>
      <th>User</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    {{#each report in model}}
        <tr>
          <td>{{report.dateReported}}</td>
          <td>{{report.tag}}</td>
          <td>{{report.description}}</td>
          <td>{{report.images}}</td>
          <td>
            <i class="glyphicon glyphicon-plus" {{action 'showModal' 'modals/map-modal' report}}></i>
          </td>
          <td>{{report.reporter}}</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
    {{/each}}
</table>
